{
  "components": [
    {
      "id": "webhook_1",
      "provider": "webhook",
      "name": "Webhook",
      "config": {
        "hideForm": true,
        "mode": "Source",
        "parameters": {},
        "type": "webhook"
      },
      "ui": {
        "position": {
          "x": 10,
          "y": 80
        },
        "nodeType": "default",
        "formDataValid": true
      }
    },
    {
      "id": "llm_anthropic_1",
      "provider": "llm_anthropic",
      "name": "Anthropic",
      "config": {
        "profile": "claude-sonnet-4-6",
        "claude-sonnet-4-6": {
          "apikey": "<YOUR_ANTHROPIC_API_KEY>"
        },
        "name": "Anthropic",
        "parameters": {
          "google": {}
        }
      },
      "ui": {
        "position": {
          "x": 270,
          "y": -50
        },
        "nodeType": "default",
        "formDataValid": true
      },
      "input": [
        {
          "lane": "questions",
          "from": "webhook_1"
        }
      ]
    },
    {
      "id": "response_answers_2",
      "provider": "response_answers",
      "name": "Return Answers",
      "config": {
        "laneName": "answers",
        "name": "Return Answers"
      },
      "ui": {
        "position": {
          "x": 480,
          "y": 70
        },
        "nodeType": "default",
        "formDataValid": true
      },
      "input": [
        {
          "lane": "answers",
          "from": "llm_anthropic_1"
        }
      ]
    }
  ],
  "project_id": "<YOUR_ROCKETRIDE_PROJECT_ID>",
  "version": 1,
  "docRevision": 1,
  "isLocked": false,
  "snapToGrid": true,
  "snapGridSize": [
    10,
    10
  ]
}
